{% extends "stats.html" %}
<title>{% block title %}{% endblock %} Research In Peace (R.I.P.) </title>
{% block body %}
<!-- <h2> Community lists </h2> -->
<h2> Research Communities </h2>
    <!-- <h3> Areas </h3> -->
    <ul>
        <li>
        <a href="http://svakulenko.ai.wu.ac.at/list_stats/machinelearningresearch" target="_blank">Machine Learning</a>
        </li>

            <ul>
            <!-- #icdm2016 @icdm2016 -->

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/nips2016" target="_blank">NIPS</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/icml2016" target="_blank">ICML</a>
            </li>

            </ul>
        
        <li>
        <a href="http://svakulenko.ai.wu.ac.at/list_stats/webscience" target="_blank">Web Science</a>
        </li>

            <ul>

             <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/websci2016" target="_blank">WebSci</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/cikm2016" target="_blank">CIKM</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/www2017perth" target="_blank">WWW</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/wsdm2017" target="_blank">WSDM</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/kdd2016" target="_blank">KDD</a>
            </li>


            </ul>

        <li>
        <a href="http://svakulenko.ai.wu.ac.at/list_stats/nlp" target="_blank">Natural Language Processing</a>
        </li>

            <ul>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/acl2016berlin" target="_blank">ACL</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/naacl2016" target="_blank">NAACL</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/lrec2016" target="_blank">LREC</a>
            </li>

             <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/emnlp2016" target="_blank">EMNLP</a>
            </li>

            </ul>

        <li>
        <a href="http://svakulenko.ai.wu.ac.at/list_stats/informationretrieval" target="_blank">Information Retrieval</a>
        </li>

            <ul>

             <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/sigir2016" target="_blank">SigIR</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/ictir2016" target="_blank">ICTIR</a>
            </li>

            <li>
            <a href="http://svakulenko.ai.wu.ac.at/list_stats/recsys2016" target="_blank">RecSys</a>
            </li>


            </ul>

        <li>
        <a href="http://svakulenko.ai.wu.ac.at/list_stats/semanticweb" target="_blank">Semantic Web</a>
        </li>

        <ul>

        <li>
        <a href="http://svakulenko.ai.wu.ac.at/list_stats/iswc2016" target="_blank">ISWC</a>
        </li>

        </ul>

    </ul>

    <!-- <h3> Events </h3> -->

{% endblock %}